:root {
  --primary-color: #7f3ca5;
  --secondary-color: #ae89c4;
  --heading-font: "Anton", sans-serif;
  --second-font: "Asap Condensed", sans-serif;
}

body {
  background-color: #eeeeee;
}

h1 {
  font-family: "Anton", sans-serif;
}

h2,
h3 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 300;
}

.profile {
  border-radius: 50%;
  max-width: 200px;
  padding-bottom: 10px;
}

.social i {
  color: var(--primary-color);
  font-size: 10rem;
}

.social {
  text-align: center;
}

.nav-item .active {
  color: var(--primary-color) !important;
}

.nav-item {
  color: var(--secondary-color) !important;
}

#hero {
  padding: 5% 5%;
}

.centered {
  display: block;
  margin: auto;
  text-align: center;
}

#hero a {
  width: 200px;
  margin: 5px 10px;
}

.primary-btn {
  background-color: var(--primary-color);
  color: white;
  font-family: var(--second-font);
  transition: all 0.2s ease-in;
}

.primary-btn:hover {
  color: black;
  border: var(--primary-color) 1px solid;
  background-color: #eeeeee;
}

.secondary-btn {
  border: var(--primary-color) 1px solid;
  font-family: var(--second-font);
  transition: all 0.2s ease-in;
}

.secondary-btn:hover {
  background-color: var(--primary-color);
  color: white;
}

#projects .row {
  border: #7f3ca5 1px solid;
  margin: 2% 5%;
  padding: 10px 0;
}

#projects img {
  display: block;
  margin: auto;
  max-height: 300px;
  max-width: 100%;
}

#projects .description {
  padding: 3% 3%;
}

#works img {
  display: block;
  margin: auto;
  max-height: 300px;
  max-width: 100%;
}

#works .col-lg-4 {
  text-align: center;
}

#footer {
  margin: 0;
  position: relative;
  bottom: 0;
  text-align: center;
  padding: 2% 0;
}

@media only screen and (max-width: 600px) {
  #hero {
    padding: 30% 5%;
  }

  #hero a {
    display: block;
    margin: 20px auto;
  }

  #me {
    display: block;
    margin: auto;
    text-align: center;
  }

  #projects .description {
    padding: 0;
  }

  .social i {
    font-size: 5rem;
  }
}
